# Ignore all .idea folder files
.idea/

# Exclude the following .idea folder files
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/misc.xml
!.idea/modules.xml
!.idea/runConfigurations.xml
!.idea/vcs.xml

# Exclude module files
*.iml

# Other common ignores
/out/
/target/
*.log
*.jar
*.war
*.ear
*.class
*.project
*.classpath
*.settings/
*.factorypath
